
body {
	position: absolute;
	left: 250px;
	/*background-color: #8A0829;*/
	background: url(weiss.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	color:white;
	font-family:Courier New;
	left: 550px;
	font-size:1,5cm;
}
#content{
	color:red;
	font-family:Courier New;
	left:550px;
	
}

  nav ul {
    margin: 0; 
    padding: 0.8em;
    text-align: center;
   /* border: 1px solid black;*/
   /* background-color: #D4C9C9;*/
  }
 
  nav li {
    list-style: none;
    display: inline-block;
    margin: 0; 
    padding: 0;
  }
 
  nav a, 
  nav span {
    display: block;
    width: 8em;
    margin: 0.6em 0 0 0;
    padding: 0.4em;
    text-decoration: none; 
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 10px white inset;
    color: red; 
    background-color: #F2F2F2;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }
 
  nav a:focus,
  nav a:hover, 
  nav span {
     color: white; 
     background-color: red;
  }
 
  nav a:focus,
  nav a:hover{
    margin-top: 0;
    padding: 1em 0.4em 0.4em;
  }